* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	/* list-style: none; */
}



del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;

	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #4d59fb;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1040px;
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #C0CCDA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #C0CCDA;
}

::-ms-input-placeholder {
  color: #C0CCDA;
}

:root {
  --main-bg-color: #23D3D3;
  --main-heading-color:#1C2C40;
} 
   
.searchBox{
	width: 450px;
	background: #fff;
	border-radius: 7px;
	padding: 20px;
	margin-inline: auto;
	
}
.searchBox header{
	font-size: 28px;
	font-weight: 500;
	text-align: center;
}
.searchBox form{
	margin: 35px 0 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	border: 1px solid #000;
	padding: 0px 10px;
	
}
.searchBox form input{
	height: 53px;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 1px;
	padding: 10px 10px;
	font-size: 16px;

}
.searchBox .text{
	display: flex;
	justify-content: space-between;
}
.search  img{
	display: block;
	width:30px;
	color: black;
	position: absolute;

}
ul{
	padding: 20px;
}
ul li{
	display: flex;
	align-items: center;
	margin-bottom: 14px;
	padding-bottom: 17px;
	justify-content: space-between;
	border-bottom: 1px solid #ccc ;
}

.content li .details{
	padding-left: 10px;
	border-radius: 4px 0;
	border-left: 3px solid #4d59fb;
}
.content li .details p{
	font-size: 15px;
    font-weight: 500;
}
.content li .details span{
	font-size: 15px;
	color: #7e7e7e;
}
.synonyms .details .list{
	display: flex;
	flex-wrap: wrap;
}
.synonyms .details .list{
	cursor: pointer;
	margin-right: 5px;
	text-decoration: underline;
}