<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="searchBox">
            <header>English Dictionary</header>
            
            <form action="{% url 'web:create_word' %}" method="post">
                {% csrf_token %}
                <ul> 
                    <div class="content">
                    <li class="word">
                        <div class="details">
                            <p>word :-</p>
                            <input class="word" type="text" name="word" />
                        </div>
                    </li>
                                    
                
                    <li class="meaning">
                        <div class="details">
                            <p>Meaning</p>
                            <textarea name="word_meaning" id="word_meaning"></textarea>
                        </div>
                    </li>
                  
                             <div class="form-field btn">
                                    <input type="submit" value="Add word" />
                                    <div><a href="{% url 'web:index' %}">Go Back</a></div>
                                </div>
                               
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </form>
        </div>
    </div>

   
</body>
</html>