<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <header>English Dictionary</header>
        <div class="Search">
            <input type="text" placeholder="Search a word">
        </div>
        <ul>
            <li class="word">
                <div class="details">
                    <p>happy</p>
            </li>
            <div class="content">
                <li class="meaning">
                    <div class="details">
                        <p>Meaning</p>
                        <span>feeling or showing pleasure or content</span>
                    </div>
                </li>
                <li class="example">
                    <div class="details">
                        <p>Example</p>
                        <span>feeling or showing pleasure or content</span>
                    </div>
                </li>
                <li class="synonyms">
                    <div class="details">
                        <p>Synonyms</p>
                        <div class="list">
                            <span>glag</span>
                            <span>contented</span>
                            <span>delighted</span>
                            <span>cheerful</span>
                            <span>joyful</span>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</body>
</html>