<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="searchBox">
            <header>English Dictionary</header>
            <div class="heading">
                <a class="button" href="">Add Word</a>
            </div>
           
    
            <form action="" method="get">
                    <img src="{% static './images/Property 1=serach.svg' %}" />
                  
                    <input type="text" name="search" placeholder="Search a Word" >                 
            </form>
    
                   
            <ul> 
                <div class="content">
                    <li class="meaning">
                        <div class="details">
                            <p>Meaning</p>
                            <textarea>feeling or showing pleasure or content</textarea>
                        </div>
                    </li>
                    <li class="example">
                        <div class="details">
                            <p>Example</p>
                            <textarea>feeling or showing pleasure or content</textarea>
                        </div>
                    </li>
                    <li class="synonyms">
                        <div class="details">
                            <p>Synonyms</p>
                            <div class="list">
                                <textarea>Glag ,</textarea>
                                <textarea>Contented ,</textarea>
                                <textarea>Delighted ,</textarea>
                                <textarea>Cheerful ,</textarea>
                                <textarea>Joyful </textarea>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>

   
</body>
</html>